<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>NumToWords</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Here's your number in plain English:</h1>
      </div>
      <h1><strong>@Model.GetDisplayString()</strong></h1><br>
      <h3><a href="/">Try another number</a></h3>
    </div>
  </body>
</html>
