<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
    <title>NumToWords</title>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Here's your number in plain English:</h1>
        <h3>@Model</h3>
      </div>
    </div>
  </body>
</html>
